html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ba-row {
  clear: both;
  margin-right: -15px;
  margin-left: -15px;
}
.ba-row:befor,
.ba-row :after {
  content: " ";
  display: table;
  clear: both;
}

.ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12, .ba-col-s-1, .ba-col-s-2, .ba-col-s-3, .ba-col-s-4, .ba-col-s-5, .ba-col-s-6, .ba-col-s-7, .ba-col-s-8, .ba-col-s-9, .ba-col-s-10, .ba-col-s-11, .ba-col-s-12, .ba-col-xs-1, .ba-col-xs-2, .ba-col-xs-3, .ba-col-xs-4, .ba-col-xs-5, .ba-col-xs-6, .ba-col-xs-7, .ba-col-xs-8, .ba-col-xs-9, .ba-col-xs-10, .ba-col-xs-11, .ba-col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.ba-col-xl-1, .ba-col-l-1, .ba-col-m-1, .ba-col-s-1, .ba-col-xs-1 {
  width: 8.33333%;
}

.ba-col-xl-2, .ba-col-l-2, .ba-col-m-2, .ba-col-s-2, .ba-col-xs-2 {
  width: 16.66667%;
}

.ba-col-xl-3, .ba-col-l-3, .ba-col-m-3, .ba-col-s-3, .ba-col-xs-3 {
  width: 25%;
}

.ba-col-xl-4, .ba-col-l-4, .ba-col-m-4, .ba-col-s-4, .ba-col-xs-4 {
  width: 33.33333%;
}

.ba-col-xl-5, .ba-col-l-5, .ba-col-m-5, .ba-col-s-5, .ba-col-xs-5 {
  width: 41.66667%;
}

.ba-col-xl-6, .ba-col-l-6, .ba-col-m-6, .ba-col-s-6, .ba-col-xs-6 {
  width: 50%;
}

.ba-col-xl-7, .ba-col-l-7, .ba-col-m-7, .ba-col-s-7, .ba-col-xs-7 {
  width: 58.33333%;
}

.ba-col-xl-8, .ba-col-l-8, .ba-col-m-8, .ba-col-s-8, .ba-col-xs-8 {
  width: 66.66667%;
}

.ba-col-xl-9, .ba-col-l-9, .ba-col-m-9, .ba-col-s-9, .ba-col-xs-9 {
  width: 75%;
}

.ba-col-xl-10, .ba-col-l-10, .ba-col-m-10, .ba-col-s-10, .ba-col-xs-10 {
  width: 83.33333%;
}

.ba-col-xl-11, .ba-col-l-11, .ba-col-m-11, .ba-col-s-11, .ba-col-xs-11 {
  width: 91.66667%;
}

.ba-col-xl-12, .ba-col-l-12, .ba-col-m-12, .ba-col-s-12, .ba-col-xs-12 {
  width: 100%;
}

@media (max-width: 992px) {
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12 {
    width: 100%;
  }
}
@media (max-width: 798px) {
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12 {
    width: 100%;
  }
}
@media (max-width: 544px) {
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12 {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12, .ba-col-s-1, .ba-col-s-2, .ba-col-s-3, .ba-col-s-4, .ba-col-s-5, .ba-col-s-6, .ba-col-s-7, .ba-col-s-8, .ba-col-s-9, .ba-col-s-10, .ba-col-s-11, .ba-col-s-12 {
    width: 100%;
  }
}
.ba-dynamic-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.ba-dynamic-row .ba-dynamic-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-1 {
  margin-left: 8.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-2 {
  margin-left: 16.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-3 {
  margin-left: 25%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-4 {
  margin-left: 33.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-5 {
  margin-left: 41.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-6 {
  margin-left: 50%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-7 {
  margin-left: 58.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-8 {
  margin-left: 66.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-9 {
  margin-left: 75%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-10 {
  margin-left: 83.33333%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-11 {
  margin-left: 91.66667%;
}
.ba-dynamic-row .ba-dynamic-col.ba-dynamic-col-offset-12 {
  margin-left: 100%;
}

.ba-only-xl {
  display: block;
}

.ba-only-l,
.ba-only-m,
.ba-only-s,
.ba-only-xs {
  display: none;
}

@media (max-width: 1200px) {
  .ba-only-xl {
    display: block;
  }

  .ba-only-l {
    display: none;
  }

  .ba-only-m {
    display: none;
  }

  .ba-only-s {
    display: none;
  }

  .ba-only-xs {
    display: none;
  }
}
@media (max-width: 992px) {
  .ba-only-xl {
    display: none;
  }

  .ba-only-l {
    display: block;
  }

  .ba-only-m {
    display: none;
  }

  .ba-only-s {
    display: none;
  }

  .ba-only-xs {
    display: none;
  }
}
@media (max-width: 798px) {
  .ba-only-xl {
    display: none;
  }

  .ba-only-l {
    display: none;
  }

  .ba-only-m {
    display: block;
  }

  .ba-only-s {
    display: none;
  }

  .ba-only-xs {
    display: none;
  }
}
@media (max-width: 544px) {
  .ba-only-xl {
    display: none;
  }

  .ba-only-l {
    display: none;
  }

  .ba-only-m {
    display: none;
  }

  .ba-only-s {
    display: block;
  }

  .ba-only-xs {
    display: none;
  }
}
@media (max-width: 400px) {
  .ba-only-xl {
    display: none;
  }

  .ba-only-l {
    display: none;
  }

  .ba-only-m {
    display: none;
  }

  .ba-only-s {
    display: none;
  }

  .ba-only-xs {
    display: block;
  }
}
.ba-only-over-l,
.ba-only-over-m,
.ba-only-over-s,
.ba-only-over-xs {
  display: block;
}

@media (max-width: 1200px) {
  .ba-only-over-xl {
    display: none;
  }

  .ba-only-over-l {
    display: block;
  }

  .ba-only-over-m {
    display: block;
  }

  .ba-only-over-s {
    display: block;
  }

  .ba-only-over-xs {
    display: block;
  }
}
@media (max-width: 992px) {
  .ba-only-over-xl {
    display: none;
  }

  .ba-only-over-l {
    display: none;
  }

  .ba-only-over-m {
    display: block;
  }

  .ba-only-over-s {
    display: block;
  }

  .ba-only-over-xs {
    display: block;
  }
}
@media (max-width: 798px) {
  .ba-only-over-xl {
    display: none;
  }

  .ba-only-over-l {
    display: none;
  }

  .ba-only-over-m {
    display: none;
  }

  .ba-only-over-s {
    display: block;
  }

  .ba-only-over-xs {
    display: block;
  }
}
@media (max-width: 544px) {
  .ba-only-over-xl {
    display: none;
  }

  .ba-only-over-l {
    display: none;
  }

  .ba-only-over-m {
    display: none;
  }

  .ba-only-over-s {
    display: none;
  }

  .ba-only-over-xs {
    display: block;
  }
}
@media (max-width: 400px) {
  .ba-only-over-xl {
    display: none;
  }

  .ba-only-over-l {
    display: none;
  }

  .ba-only-over-m {
    display: none;
  }

  .ba-only-over-s {
    display: none;
  }

  .ba-only-over-xs {
    display: none;
  }
}
.ba-only-under-xl,
.ba-only-under-l,
.ba-only-under-m,
.ba-only-under-s,
.ba-only-under-xs {
  display: none;
}

@media (max-width: 1200px) {
  .ba-only-under-xl {
    display: block;
  }

  .ba-only-under-l {
    display: none;
  }

  .ba-only-under-m {
    display: none;
  }

  .ba-only-under-s {
    display: none;
  }

  .ba-only-under-xs {
    display: none;
  }
}
@media (max-width: 992px) {
  .ba-only-under-xl {
    display: block;
  }

  .ba-only-under-l {
    display: block;
  }

  .ba-only-under-m {
    display: none;
  }

  .ba-only-under-s {
    display: none;
  }

  .ba-only-under-xs {
    display: none;
  }
}
@media (max-width: 798px) {
  .ba-only-under-xl {
    display: block;
  }

  .ba-only-under-l {
    display: block;
  }

  .ba-only-under-m {
    display: block;
  }

  .ba-only-under-s {
    display: none;
  }

  .ba-only-under-xs {
    display: none;
  }
}
@media (max-width: 544px) {
  .ba-only-under-xl {
    display: block;
  }

  .ba-only-under-l {
    display: block;
  }

  .ba-only-under-m {
    display: block;
  }

  .ba-only-under-s {
    display: block;
  }

  .ba-only-under-xs {
    display: none;
  }
}
@media (max-width: 400px) {
  .ba-only-under-xl {
    display: block;
  }

  .ba-only-under-l {
    display: block;
  }

  .ba-only-under-m {
    display: block;
  }

  .ba-only-under-s {
    display: block;
  }

  .ba-only-under-xs {
    display: block;
  }
}
.ba-dropdown {
  position: relative;
}
.ba-dropdown .ba-dropbtn {
  cursor: pointer;
}
.ba-dropdown .ba-dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.ba-dropdown .ba-dropdown-content a {
  color: black;
  padding: 0 16px;
  text-decoration: none;
  display: block;
}
.ba-dropdown .ba-dropdown-content a:hover {
  background-color: #f1f1f1;
}
.ba-dropdown .ba-dropdown-content.ba-show {
  display: block;
}
.ba-dropdown .ba-dropdown-content.left {
  left: 0;
  text-align: left;
}
.ba-dropdown .ba-dropdown-content.right {
  right: 0;
  text-align: right;
}
.ba-dropdown .ba-dropdown-content.text_center {
  text-align: center;
}

.ba-nav {
  background-color: rgba(25, 63, 77, 0.5);
  padding: 2px;
}
.ba-nav.ba-nav.ba-over-smartphone .ba-item {
  display: block;
}
.ba-nav.ba-sticky {
  position: fixed;
  width: 100%;
}
.ba-nav .ba-header .ba-left {
  float: left;
}
.ba-nav .ba-header .ba-left div,
.ba-nav .ba-header .ba-left img {
  cursor: pointer;
  float: left;
}
.ba-nav .ba-header .ba-left .ba-logo_small {
  height: 40px;
  padding-right: 15px;
}
.ba-nav .ba-header .ba-right {
  float: right;
}
.ba-nav .ba-header .ba-right div {
  float: left;
}
.ba-nav .ba-header .ba-item {
  z-index: 9;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}
.ba-nav .ba-header .ba-item button {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}
.ba-nav .ba-header .ba-item button:focus {
  outline: 0;
}
.ba-nav .ba-header .ba-item input[type="text"] {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  outline: 0;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #fff;
}
.ba-nav .ba-header .ba-burger {
  z-index: 9;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}
.ba-nav .ba-header:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 544px) {
  .ba-nav.ba-over-smartphone .ba-item {
    display: none !important;
  }
}
.ba-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 544px) {
  .ba-container {
    width: auto;
  }
}
@media (min-width: 798px) {
  .ba-container {
    width: 820px;
  }
}
@media (min-width: 992px) {
  .ba-container {
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .ba-container {
    width: 1200px;
  }
}
.ba-container-xl-1, .ba-container-xl-2, .ba-container-xl-3, .ba-container-xl-4, .ba-container-xl-5, .ba-container-xl-6, .ba-container-xl-7, .ba-container-xl-8, .ba-container-xl-9, .ba-container-xl-10, .ba-container-xl-11, .ba-container-xl-12, .ba-container-l-1, .ba-container-l-2, .ba-container-l-3, .ba-container-l-4, .ba-container-l-5, .ba-container-l-6, .ba-container-l-7, .ba-container-l-8, .ba-container-l-9, .ba-container-l-10, .ba-container-l-11, .ba-container-l-12, .ba-container-m-1, .ba-container-m-2, .ba-container-m-3, .ba-container-m-4, .ba-container-m-5, .ba-container-m-6, .ba-container-m-7, .ba-container-m-8, .ba-container-m-9, .ba-container-m-10, .ba-container-m-11, .ba-container-m-12, .ba-container-s-1, .ba-container-s-2, .ba-container-s-3, .ba-container-s-4, .ba-container-s-5, .ba-container-s-6, .ba-container-s-7, .ba-container-s-8, .ba-container-s-9, .ba-container-s-10, .ba-container-s-11, .ba-container-s-12, .ba-container-xs-1, .ba-container-xs-2, .ba-container-xs-3, .ba-container-xs-4, .ba-container-xs-5, .ba-container-xs-6, .ba-container-xs-7, .ba-container-xs-8, .ba-container-xs-9, .ba-container-xs-10, .ba-container-xs-11, .ba-container-xs-12 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 544px) {
  .ba-container-s-1 {
    width: 8.33333%;
  }

  .ba-container-s-2 {
    width: 16.66667%;
  }

  .ba-container-s-3 {
    width: 25%;
  }

  .ba-container-s-4 {
    width: 33.33333%;
  }

  .ba-container-s-5 {
    width: 41.66667%;
  }

  .ba-container-s-6 {
    width: 50%;
  }

  .ba-container-s-7 {
    width: 58.33333%;
  }

  .ba-container-s-8 {
    width: 66.66667%;
  }

  .ba-container-s-9 {
    width: 75%;
  }

  .ba-container-s-10 {
    width: 83.33333%;
  }

  .ba-container-s-11 {
    width: 91.66667%;
  }

  .ba-container-s-12 {
    width: 100%;
  }
}
@media (min-width: 798px) {
  .ba-container-m-1 {
    width: 8.33333%;
  }

  .ba-container-m-2 {
    width: 16.66667%;
  }

  .ba-container-m-3 {
    width: 25%;
  }

  .ba-container-m-4 {
    width: 33.33333%;
  }

  .ba-container-m-5 {
    width: 41.66667%;
  }

  .ba-container-m-6 {
    width: 50%;
  }

  .ba-container-m-7 {
    width: 58.33333%;
  }

  .ba-container-m-8 {
    width: 66.66667%;
  }

  .ba-container-m-9 {
    width: 75%;
  }

  .ba-container-m-10 {
    width: 83.33333%;
  }

  .ba-container-m-11 {
    width: 91.66667%;
  }

  .ba-container-m-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .ba-container-l-1 {
    width: 8.33333%;
  }

  .ba-container-l-2 {
    width: 16.66667%;
  }

  .ba-container-l-3 {
    width: 25%;
  }

  .ba-container-l-4 {
    width: 33.33333%;
  }

  .ba-container-l-5 {
    width: 41.66667%;
  }

  .ba-container-l-6 {
    width: 50%;
  }

  .ba-container-l-7 {
    width: 58.33333%;
  }

  .ba-container-l-8 {
    width: 66.66667%;
  }

  .ba-container-l-9 {
    width: 75%;
  }

  .ba-container-l-10 {
    width: 83.33333%;
  }

  .ba-container-l-11 {
    width: 91.66667%;
  }

  .ba-container-l-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .ba-container-xl-1 {
    width: 8.33333%;
  }

  .ba-container-xl-2 {
    width: 16.66667%;
  }

  .ba-container-xl-3 {
    width: 25%;
  }

  .ba-container-xl-4 {
    width: 33.33333%;
  }

  .ba-container-xl-5 {
    width: 41.66667%;
  }

  .ba-container-xl-6 {
    width: 50%;
  }

  .ba-container-xl-7 {
    width: 58.33333%;
  }

  .ba-container-xl-8 {
    width: 66.66667%;
  }

  .ba-container-xl-9 {
    width: 75%;
  }

  .ba-container-xl-10 {
    width: 83.33333%;
  }

  .ba-container-xl-11 {
    width: 91.66667%;
  }

  .ba-container-xl-12 {
    width: 100%;
  }
}
.ba-masonry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.ba-masonry .ba-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%;
}
