/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, sass/grid/_grid@normal.scss */
.ba-row {
  clear: both;
  margin-right: -15px;
  margin-left: -15px;
}
/* line 7, sass/grid/_grid@normal.scss */
.ba-row:befor,
.ba-row :after {
  content: " ";
  display: table;
  clear: both;
}

/* line 47, sass/partials/_mixins.scss */
.ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12, .ba-col-s-1, .ba-col-s-2, .ba-col-s-3, .ba-col-s-4, .ba-col-s-5, .ba-col-s-6, .ba-col-s-7, .ba-col-s-8, .ba-col-s-9, .ba-col-s-10, .ba-col-s-11, .ba-col-s-12, .ba-col-xs-1, .ba-col-xs-2, .ba-col-xs-3, .ba-col-xs-4, .ba-col-xs-5, .ba-col-xs-6, .ba-col-xs-7, .ba-col-xs-8, .ba-col-xs-9, .ba-col-xs-10, .ba-col-xs-11, .ba-col-xs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-1, .ba-col-l-1, .ba-col-m-1, .ba-col-s-1, .ba-col-xs-1 {
  width: 8.33333%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-2, .ba-col-l-2, .ba-col-m-2, .ba-col-s-2, .ba-col-xs-2 {
  width: 16.66667%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-3, .ba-col-l-3, .ba-col-m-3, .ba-col-s-3, .ba-col-xs-3 {
  width: 25%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-4, .ba-col-l-4, .ba-col-m-4, .ba-col-s-4, .ba-col-xs-4 {
  width: 33.33333%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-5, .ba-col-l-5, .ba-col-m-5, .ba-col-s-5, .ba-col-xs-5 {
  width: 41.66667%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-6, .ba-col-l-6, .ba-col-m-6, .ba-col-s-6, .ba-col-xs-6 {
  width: 50%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-7, .ba-col-l-7, .ba-col-m-7, .ba-col-s-7, .ba-col-xs-7 {
  width: 58.33333%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-8, .ba-col-l-8, .ba-col-m-8, .ba-col-s-8, .ba-col-xs-8 {
  width: 66.66667%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-9, .ba-col-l-9, .ba-col-m-9, .ba-col-s-9, .ba-col-xs-9 {
  width: 75%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-10, .ba-col-l-10, .ba-col-m-10, .ba-col-s-10, .ba-col-xs-10 {
  width: 83.33333%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-11, .ba-col-l-11, .ba-col-m-11, .ba-col-s-11, .ba-col-xs-11 {
  width: 91.66667%;
}

/* line 40, sass/partials/_mixins.scss */
.ba-col-xl-12, .ba-col-l-12, .ba-col-m-12, .ba-col-s-12, .ba-col-xs-12 {
  width: 100%;
}

@media (max-width: 992px) {
  /* line 32, sass/partials/_mixins.scss */
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 32, sass/partials/_mixins.scss */
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12 {
    width: 100%;
  }
}
@media (max-width: 544px) {
  /* line 32, sass/partials/_mixins.scss */
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12 {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 32, sass/partials/_mixins.scss */
  .ba-col-xl-1, .ba-col-xl-2, .ba-col-xl-3, .ba-col-xl-4, .ba-col-xl-5, .ba-col-xl-6, .ba-col-xl-7, .ba-col-xl-8, .ba-col-xl-9, .ba-col-xl-10, .ba-col-xl-11, .ba-col-xl-12, .ba-col-l-1, .ba-col-l-2, .ba-col-l-3, .ba-col-l-4, .ba-col-l-5, .ba-col-l-6, .ba-col-l-7, .ba-col-l-8, .ba-col-l-9, .ba-col-l-10, .ba-col-l-11, .ba-col-l-12, .ba-col-m-1, .ba-col-m-2, .ba-col-m-3, .ba-col-m-4, .ba-col-m-5, .ba-col-m-6, .ba-col-m-7, .ba-col-m-8, .ba-col-m-9, .ba-col-m-10, .ba-col-m-11, .ba-col-m-12, .ba-col-s-1, .ba-col-s-2, .ba-col-s-3, .ba-col-s-4, .ba-col-s-5, .ba-col-s-6, .ba-col-s-7, .ba-col-s-8, .ba-col-s-9, .ba-col-s-10, .ba-col-s-11, .ba-col-s-12 {
    width: 100%;
  }
}
/* line 1, sass/container/_container.scss */
.ba-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
