//width for grid and media
$xl_width: 1200px;
$l_width: 992px;
$m_width: 768px;
$s_width: 544px;
$xs_width: 400px;

//grid essantials
$class_names: "xl","l","m","s","xs";
$column_count: 12;

//colors
$turquoise: #1abc9c;
$green_sea: #16a085;
$sun_flower: #f1c40f;
$clear_lake_green: #2ecc71;
$forest_green: #27ae60;
$carrot:#e67e22;
$pumpkin:#d35400;
$river_blue:#3498db;
$deep_see_blue:#2980b9;
$chilli:#e74c3c;
$pomegranate:#c0392b;
$lilac:#9b59b6;
$wisteria_violet:#8e44ad;
$cloud:#ecf0f1;
$silver:#bdc3c7;
$wet_asphalt:#34495e;
$midnight_blue:#2c3e50;
$concrete:#95a5a6;
$asbestos:#7f8c8d;
