<div class="ba-date-picker">
  <span ng-click="open()">
    <input readonly ng-model="display" type="text" />
  </span>
  <div class="ba-calender" ng:class="{true:'ba-active'}[isOpen]">
    <div class="ba-control">
      <div class="ba-dynamic-row">
        <div class="ba-dynamic-col ba-dynamic-col-7"><span style="padding-right: 5px;">{{text.month[center.month-1]}}</span><span>{{center.year}}</span></div>
        <div class="ba-dynamic-col">
          <div class="ba-dynamic-row">
            <div class="ba-dynamic-col ba-control-elements" ng-click="newMonth(center.month-1)">◀</div>
            <div class="ba-dynamic-col ba-control-elements" ng-click="newMonth(current.month)">●</div>
            <div class="ba-dynamic-col ba-control-elements" ng-click="newMonth(center.month+1)">▶</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ba-sub">
      <div class="ba-head">
        <div class="ba-week-day" ng-repeat="_ in ((_ = []) && (_.length=config.day) && _) track by $index" >
          {{text.daysShort[$index]}}
        </div>
      </div>
      <div class="ba-body" ng-class="changeClass">
        <div class="ba-week-day ba-gray" ng-repeat="_ in ((_ = []) && (_.length=(center.beginning - 1)) && _) track by $index" ng-click="newMonth(center.month-1)">
          {{config.monthDays[center.month - 2] - ((center.beginning-2)- $index)}}
        </div>
        <div class="ba-week-day" ng-repeat="_ in ((_ = []) && (_.length=config.monthDays[center.month-1]) && _) track by $index" ng:class="{true:'ba-selected'}[($index+1) == current.dayOfMonth && center.month == current.month && center.year == current.year]" ng-click="selectDay($index+1)">
          {{$index+1}}
        </div>
        <div class="ba-week-day ba-gray" ng-repeat="_ in ((_ = []) && (_.length=(7-center.ending)) && _) track by $index" ng-click="newMonth(center.month+1)">
          {{$index+1}}
        </div>
      </div>
    </div>
  </div>
</div>
