@import "../partials/variables";
@import "../partials/mixins";
.ba-dynamic-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    .ba-dynamic-col {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        padding: 5px;
        width: 100%;
    }
    @include dynamic-set(#{".ba-dynamic-col.ba-dynamic-col-"}, $column_count);
    @include dynamic-set-offset(#{".ba-dynamic-col.ba-dynamic-col-offset-"}, $column_count);
}
